@use '@angular/material' as mat;
@include mat.all-component-densities(-5);
@include mat.button-density(-1);
@import 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
html, body {
  min-height: 100vh;
}
button[mat-raised-button][color="green"] {
  background-color: #229555;
  color: white;
}