<div class="shopping">
  <header class="shopping__header">
    <h1>Products list</h1>
    <button class="shopping__header--logout" mat-raised-button [color]="'warn'" (click)="logout()">Logout</button>
  </header>

  <div class="shopping__filter">
    <mat-form-field [subscriptSizing]="'dynamic'">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="category">
        @for (category of categories; track category) {
          <mat-option [value]="category">{{category}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field [subscriptSizing]="'dynamic'">
      <mat-label>Limit</mat-label>
      <mat-select [formControl]="limit">
        @for (limit of limits; track limit) {
          <mat-option [value]="limit">{{limit}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="products()" class="shopping__table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{element.category}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{element.price}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          class="shopping__table__actions--button"
          mat-raised-button
          color="green"
          (click)="openModal(element)"
        >Open</button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns displayedColumns;"></tr>
  </table>
</div>